body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

h1,
h2,
h3 {
  color: #0066cc;
}

a {
  color: #ff5722;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre,
code {
  background-color: #272822;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 5px;
}
